.firstNav {
    display: grid;
    grid-template-columns: 15fr 70fr 20fr 10fr 10fr;
    background-color:white;
    width: 100%;
    
}



.cirus {
    margin-left: 10px; 
    
}


.cirus img {
    cursor: pointer;
}


.search input {
    width: 800px;
    height: 50px;
    border-radius: 10px;
    border: solid #db412c;
    margin-left: 30px;
    outline: none;
}




.phone img {
    padding-top: 17px;
}



.phone a {
    font-size: 30px;
    text-decoration: none;
    color: #da3b26;
}



.user {
    display: flex;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 10px;
    cursor: pointer; 
    background-color: #da3b26;  
    border-radius: 10px;
    
}

.user a {
    font-size: large;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}




.shop img {
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
    
}





.secondnav1 {
    margin-top: 50px;
    margin-right: 10px;
    }



.secondnav1 img {
    margin-top: 15px;
   
}


.secondnav2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color:rgb(188, 226, 226);
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    height: 70px;   
}


.secondnav2 a {
    text-decoration: none;
    color: black;
}





.product {
    display: flex;
    justify-content: center;
    background-color: #da3b26;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
   
    
    
}



#proimg {
    margin-top: 10px;
}



.user:hover {
    background-color: blue;
}

#proa {
    margin-top: 21px;
    padding-left: 5px;
    
}

#proa a {
    color: aliceblue;
}



.mane a {
    color: #da3b26;
}



.mane1 a {
font-family: font;

}




@font-face {
    font-family: font;
    src: url("/fonts/mtavari.ttf");
}






.mane:hover {
    transform:scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}



.about:hover {
    transform:scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}


.contact:hover{
    transform:scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}


.blog:hover{
    transform:scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}


.service:hover{
    transform:scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.mane1::first-letter {
    color: #da3b26;
    font-size: large;
}



.image1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 45px;
    width: 95%;
    height: 400px;
    border: 1px solid #da3b26;
    border-radius: 10px;
    }



    .slider {
        animation-name: backgraundd;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0;
        height: 100%;
        width:  100%;
        animation-duration: 10s;
        animation-iteration-count:infinite;
        animation-timing-function: ease-in-out;
        transition: linear;
        border-radius: 10px;
        
    }
    
    
    
    @keyframes backgraundd{
        25%{
        background-image: url(https://www.melbournemobiles.com.au/media/wysiwyg/mobile-phones-banner.JPG);
        }
    
    
        50%{
         background-image: url(https://marcelbd.com/image/catalog/mobile/feature-phone/new-banner.jpg);width: 500px; height: 300px;
         }
    
    
        75%{
         background-image: url(https://media.product.which.co.uk/prod/images/original/gm-470ff515-0299-4a00-80a8-bfb2f54074e1-mobile-phones.jpg);
         }
    
    
        100%{
         background-image: url(https://image.oppo.com/content/dam/oppo/common/mkt/v2-2/find-n2-flip-en/no-silk-screen/topbanner/find-n2-flip-5120_1280.jpg);
         }
    }
    



    .image1 img {
        border-radius: 20px;
        
        
    }




    .brand {
        display: flex;
        justify-content: center;
    }





    .brand div {
        border-radius: 20px;
        background-color:#efbbb45c;
        padding: 40px;
        margin: 12px;
        border: solid black;

       }




       .brand div:hover{
        transform: scale(1.05);
        transition: 1s;
        cursor: pointer;
       }




       .line1 {
        width: 95%;
        display: block;
        justify-content: center;
        margin-left: 40px;
       }




       .line2 {
        border: solid #da3b26;
       }




       .mobile1 {
        display: flex;
        justify-content:center;
       }




       .mobile1 div {
        border: solid 3px #da3b26;
        border-radius: 10px;
        margin: 10px;
        width: 286px;
        height: 400px;
        text-align: center;
       }


       .mobile1 img {
        width: 270px;
     }



     #sale {
        background-color: #da3b26;
        padding: 5px;
        border-radius: 10px;
        font-size: 15px;
        text-decoration: none;
        color: white;
     }






     #sale1 {
        background-color: #da3b26;
        padding: 5px;
        border-radius: 10px;
        font-size: 15px;
        text-decoration: none;
        color: white;
        
     }






     #sale1:hover {
        background-color: rgb(7, 64, 64);
     }



     #price1 {
        text-decoration: none;
        font-size: 20px;
        color: #da3b26;
        font-family: price;
     }



     @font-face {
        font-family: price;
        src: url("/fonts/fasi.ttf");
     }




     #price2 {
        text-decoration:line-through;
        font-size: 18px;
        color: rgb(98, 98, 85);
     }



     #name {
        text-decoration: none;
        color: black;
        font-size: large;
        
     }



     




     .mobile1 div:hover {
        border: dashed #090909;
        cursor: pointer;
        transition: 0.6s;
        transform:scale(1.05);

        
     }




     .mobile2 {
        display: flex;
        justify-content:center;
       }


     .mobile2 img {
        width: 270px;
        margin-top: 40px;
     }



     .mobile2 div {
        border: solid 3px #da3b26;
        border-radius: 10px;
        margin: 10px;
        width: 286px;
        height: 370px;
        text-align: center;
       }




       .mobile2 div:hover {
        border: dashed #000000;
        cursor: pointer;
        transition: 0.6s;
        transform:scale(1.05)
     }





     .info {
        display: flex;
        justify-content: space-between;
        text-align: center;
     }



     .info p {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
     }




     .info p::first-line {
        color: #da3b26;
     }





     .info div {
        margin: 20px;
     }



     .info1 {
        margin-right: 50px;
     }





     .foot1 {
        display: flex;
        justify-content: space-between;
        background-color: #08065d;
        padding: 15px;
        
     }



     .icon {
        display: flex;
       padding-right: 20px;
      
    
     }


     .icon img {
         margin-left: 30px;
        margin-top: 5px;

        
     }




     .icon img:hover {
        cursor: pointer;
        transform: scale(1.09);
        transition: transform 2s;
        border:solid #da3b26;
        border-radius: 50%;
     }



     .foot2 {
    width: 96%;
    margin-left: 35px;
    background-color: #08065d;
    
     }



     
     .logo {
        margin: 5px;
        margin-left: 15px;
     }




     .line3 {
        border: solid #da3b26;
        
     }




     .foot3 {
        display: grid;
        grid-template-columns: 30fr 30fr 30fr 30fr;
        margin-left: 50px;
        color: white;
     }




     .navigation a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 18px;
        margin-top: 20px;
     }



     .partner a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 18px;
        margin-top: 20px;
     }



     


     .momxmarebeli a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 18px;
        margin-top: 20px;
     }